.dasboard{
    text-align: start;
    border-bottom: 1px solid #a0a6a6 !important;
    border-right: 1px solid #aab2b2 !important;
    height: 36%;
    
}
.accordion{
    background-color: #ffffff !important;
}

.dropdown{
    background-color: #ffffff !important;
}

.nav-list{
    color: #0b0b0b !important;
    font-size: 10px;
}

.nav-icon{
     /* background-color: #760b0b !important; */
    color: #a21010 !important;
    font-size: 20px;
    width: 10%;
    /* height: 10%; */
   
}

.section-1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.section-text-1{
    padding: 0.5em;
    text-align: start;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    width: 90%;
}

.section-text-1 p{
    font-size: 14px;
}

.percentage{
    margin-left: 180px;
}

.booking-border{
    border: 1px solid black !important;
     padding: 0.4em;
}
.booking-border-2{
    border: 1px solid black !important;
}
.booking{
    display: flex;
}

.booking img{
   width: 20%;
   height: 20%;
   border-radius: 90%;
}

.booking-text{
    font-size: 10px;
}

.arrow-icon{
    margin-left: 60px;
}

.a-tag{
    color: #de1515 !important;
    text-decoration: none;
    font-weight: 600;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 90%;
}

.summary{
    font-size: 30px;
    font-weight: 700;
}

.last-gap {
  height: 40px;
}

.status-panding{
    color: white !important;
    background-color: #a21010 !important;
    border: 1px solid #a21010 !important;
    font-size: 15px;
}

.status-cencel{
    color: white !important;
    background-color: #3d7335 !important;
    border: 1px solid #3d7335 !important;
    font-size: 15px;  
}

.status-approved{
    color: white !important;
    background-color: #134fe7 !important;
    border: 1px solid #134fe7 !important;
    font-size: 15px;      
}

.status-running{
    color: white !important;
    background-color: #e3c012 !important;
    border: 1px solid #e3c012 !important;
    font-size: 15px;          
}

.status-flowing{
    color: white !important;
    background-color: #3db5af !important;
    border: 1px solid #3db5af !important;
    font-size: 15px;             
}

.status-process{
    color: white !important;
    background-color: #e010c8 !important;
    border: 1px solid #e010c8 !important;
    font-size: 15px;                 
}


.last-eection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.last-section-icon h6{
    margin-left: 60px;
    color: #42bf2e !important;
    font-weight: 600;
    font-size: 13px;
}

.text-h4{
    font-size: 18px;
    font-weight: 600;
}

.text-p{
  font-size: 10px;  
}

.check-icon{
    margin-left: 60px;
    color: #42bf2e !important;
}

.progress-icon{
    width: 90%;
    font-size: 20px;
    height: 5%;
}

.bar h5{
    font-size: 19px;
    color: #3b3a3a !important;
}

.bar p{
   font-size: 13px; 
}


.dropwown{
   position: relative;
   
}

.dropdown-list{
    position: absolute;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #ffffff !important;
    width: 50%;
}

.dropdown-list ul li{
    cursor: pointer;
    
}

.dropdown-list ul li:hover{
    background-color: #b6b0b0 !important;
}

.ul{
    list-style: none;
}

#nav-dropdown{
    color: black !important;
    margin-top: -10px;
    margin-left: -15px;
    /* background-color:  !important; */
}